/* - - - - - - - - - - - - - - - - - - - - -

 Title : WuFoo OMB .css file
 Author : Patrick Marr
 

 Last Updated : 08-25-2014

Remove pagination from first page of a WuFoo form. 
- - - - - - - - - - - - - - - - - - - - - */

/* - - - Default - - - */



#form3.page1 > ul > li.paging-context {
display: none !important;
}
